<app-page-layout
  icon="pi-bullseye"
  title="Objectifs"
  [subtitle]="filledProducts() + ' / ' + totalProducts() + ' produits renseignés'"
  [actions]="actionsTemplate"
  [toolbar]="toolbarTemplate">

  <ng-template #actionsTemplate>
    <button class="btn-add" type="button" (click)="showUploadDialog.set(true)">
      <i class="pi pi-upload"></i> Importer les objectifs
    </button>
  </ng-template>

  <ng-template #toolbarTemplate>
    <div class="obj-filters">
      <app-canal-toggle [canal]="canal()" (canalChange)="canal.set($event)"></app-canal-toggle>
      <app-period-stepper [mois]="mois()" [annee]="annee()" (periodChange)="onPeriodChange($event)"></app-period-stepper>
    </div>
  </ng-template>

  <app-objectifs-table
    [rows]="rows()"
    [grouped]="grouped()"
    [loading]="loading()"
    [canal]="canal()"
    [sortCol]="sortCol()"
    [sortDir]="sortDir()"
    [collapsedFamilies]="collapsedFamilies()"
    [isFlatSort]="isFlatSort()"
    [sortedRows]="sortedRows()"
    [routeCount]="routeCount()"
    (sortChange)="setSort($event)"
    (familyToggle)="toggleFamily($event)">
  </app-objectifs-table>

</app-page-layout>

<app-objectifs-upload-dialog
  [visible]="showUploadDialog()"
  (visibleChange)="showUploadDialog.set($event)"
  (close)="showUploadDialog.set(false); load()">
</app-objectifs-upload-dialog>
